main {
    min-height: 100vh;
    background-color: gainsboro;
}

.sidebar {
    width: 255px;
    background-color: #363740;
}

.sidebar-dashboard-kit {
    padding: 41px 43px;
}

.content {
    color: #A4A6B3;
    margin: 12px;
}

.sidebar-overview {
    color: #DDE2FF;
    padding : 18px 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
}

.hover-effect:hover {
    background-color: #3E4049;
}

.sidebar-tickets {
    color: #A4A6B3;
    padding: 18px 24px;
}

.sidebar-ideas { 
    color: #A4A6B3;
    padding: 18px 24px;
}

.sidebar-contacts { 
    color: #A4A6B3;
    padding: 18px 24px;
}

.sidebar-agents { 
    color: #A4A6B3;
    padding: 18px 24px;
}

.sidebar-articles { 
    color: #A4A6B3;
    padding: 18px 24px;
}

.sidebar-settings { 
    color: #A4A6B3;
    padding: 18px 24px;
}

.sidebar-subscriptions { 
    color: #A4A6B3;
    padding: 18px 24px;
}

.overview {
    width: calc(100vw - 255px);
    background-color: #F7F8FC;
    padding: 36px 30px; 
}

.title {
    color: #252733;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
}

.name {
    color : #252733;
    text-align: right;
    /* Semibold 14 (0.2 px) */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}

.cards {
    margin: 24px 0;
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 134px;
    transition: all .5s;
}

.card:hover {
    cursor: pointer;
    color: #3751FF;
    border: 1px solid #3751FF;
    text-transform: #3751FF;
}

.card-title {
    color: #9FA2B4;
    font-family: Mulish;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4000000059604645px;
    text-align: center;
}


.card-text {
    color: #252733;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
}


.vr {
    margin: 0 25px;
}

.profile {
    border-radius: 50%; 
    margin-left: 10px; 
    align-items: center; 
    border: 4px gray;
}

.alerticon {
    margin-left: 25px;
}

.graph-section {
    margin-top: 10px;
    padding: 0px 50px;
    border-radius: 10px;
    background-color: white;
    height: 546px;
    display: flex;
    align-items: center;
}

.trends-section {
    border-right: 1px solid #DFE0EB;
}

.graph-image {
    margin-left: 200px;
}

.comparison {
    margin-right: 400px;
}

.date {
    color: #9FA2B4;
    /* Reg 12 (0.1 px) */
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.1px;
}

.today-trends {
    margin-bottom: 20px;
    border: 1px soild #DFE0EB;
}

.todays-result {
    border-bottom: 1px solid #DFE0EB;
    height: calc(546px / 5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.todays-result:nth-child(5) {
    border-bottom: none;
}

.today-text {
    color:#9FA2B4;
    text-align: center;
    /* Semibold 16 (0.3 px) */
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.3px;
}

.today-number {
    color: #252733;
    text-align: center;
    /* Bold 24 (0.3 px) */
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3px;
}

.ticket-task-container > div {
    padding: 24px;
    border: 1px solid #DFE0EB;
    border-radius: 10px;
    background-color: white;
    margin-top: 25px;
}
.ticket-task-container {
    margin: 1px;
}

.list-height {
    height: 60px;
    border-bottom: 1px solid #DFE0EB;
}

.list-height:nth-last-child(1) {
    border-bottom: none;
}

.ticket-task-title {
    color: #252733;
    /* Bold 19 (0.4 px) */
    font-family: Muli;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
}

.ticket-task-status {
    color: #252733;
    /* Semibold 14 (0.2 px) */
    font-family: Muli;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}

.ticket-task-number {
    color: #9FA2B4;
    text-align: right;
    /* Semibold 14 (0.2 px) */
    font-family: Muli;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}

.task-status-urgent {
    padding: 4px 12px;
    border-radius: 5px;
    background-color: #FEC400;
    color: #fff;
}
.task-status-new {
    padding: 4px 12px;
    border-radius: 5px;
    background-color: #29CC97;
    color: #fff;
}
.task-status-default {
    padding: 4px 12px;
    border-radius: 5px;
    background-color: #F0F1F7;
    color: #9FA2B4;
}

.view-details {
    color: #3751FF;
}

.ticket-task-group {
    color: #9FA2B4;
    /* Reg 12 (0.1 px) */
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.1px;
}

.ticket-task-support {
    color: #4B506D;
    /* Semibold 12 (0.1 px) */
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1px;
}

.ticket-task-title {
    color:  #252733;
    font-family: Muli;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
}

.ticket-task-today {
    color: #9FA2B4;
    /* Reg 12 (0.1 px) */
    font-family: Muli;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.1px;
}

.view-all {
    color: #3751FF;
}

.create-new-task {
    color: var(--grayscale-gray-light, #C5C7CD);
    /* Semibold 14 (0.2 px) */
    font-family: Muli;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}

.task-margin {
    margin-left: 15px;
}






